.bg {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	bottom: 0;
	height: 100%;
}

#main-area {
	/* background-color: green; */
	height: 100%;
}

#startBtn {
	/* width: 200px; */
	font-size: 3em;
	margin-top: 40px;
}

.custom-control {
	display: inline-block;
	margin: 0 30px;
}

.questionDiv {
	margin: 20px 0;
}
